.card{
    
    width: 100%;
    display: flex;
    flex-direction: column;  
    gap: 0.5rem;
    position: relative;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background-color: white;
    
}
.profileimages{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coverpic{
    width: 100%; 
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    height: 140px;
}
.profpic{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    box-shadow: red;
    bottom: -3rem;

}
.profilenames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.8rem;
    gap: 0.2rem;
}
.fontprofilename{
    font-weight: bold;
}
.fl{
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    align-items: center;
    
}
.fl>span:nth-child(1)
{
    font-weight: bold;
}
hr{
    
    width: 85%;
}
.status{
    display: flex;
    justify-content: space-around;  
}
.verline
{
    height: 130%;
    border-left: 2px solid rgb(190, 185, 185);
}
.viewprofile{
    align-self: center;
   font-weight: bold;
}